appletv-poc-tvos-app/jwplayer-for-tv.xcodeproj/project.xcworkspace/xcuserdata
appletv-poc-tvos-app/jwplayer-for-tv.xcodeproj/xcuserdata
jwplayer-appletv-tvos-app/jwplayer-for-tv.xcodeproj/project.xcworkspace/xcuserdata
jwplayer-appletv-tvos-app/jwplayer-for-tv.xcodeproj/xcuserdata
.DS_Store
